/.env
/.env.*
!/.env.example
/.phpunit.result.cache
/.idea
/.vscode
/.fleet
/.DS_Store
Thumbs.db
/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/bootstrap/cache/*.php
database/database.sqlite
npm-debug.log*
yarn-debug.log*
yarn-error.log*
